{% extends 'base.html.twig' %}

{% block title %}Hello EtatController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Créer un utilisateur</h1>
</div>
<form action="/createEtat" method="post">
  <fieldset>
	<<p><label for="text">login</label>
 <input type="text" id="text" name="login" placeholder="Inserer votre identifiant ici" required/></p> 
 
 <p><label for="password">Password</label>
 <input type="password" id="password" name="password" placeholder="Votre mot de passe" required></p>
 
 <p><label for="password">Verification password</label>
 <input type="password" id="password" name="veripwd" placeholder="Votre mot de passe" required></p>
 
 <p><label for="text">Nom</label>
 <input type="text" id="text" name="Nom" placeholder="Inserer votre Nom ici" required/></p> 
 
 <p><label for="text">Prenom</label>
 <input type="text" id="text" name="Prenom" placeholder="Inserer votre Prenom ici" required/></p> 
 
 <p><label for="text">Email</label>
 <input type="text" id="email" name="email" placeholder="Entrez votre email" required/></p> 
 	
 <p classe="centerAlign">
  </fieldset>
   <button type="submit" class="btn btn-primary">Créer</button>
   <button type="reset" class="btn btn-primary">Annuler</button>
</form>
{% endblock %}
